@import url(https://fonts.googleapis.com/css?family=Exo+2:400,700);

h2{ font-family: 'Exo 2', Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-indent: 50px;
}

h3{ font-family: 'Exo 2', Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-indent: 50px;
}

.tick {
    font-size: 10px;
    font-family: sans-serif;
    color: blue;
}

.axis-label, .speedLineLabel {
    font-size: 14px;
    font-family: 'Exo 2', Helvetica, Arial, sans-serif;
    color: blue;
}
